<ion-view view-title="Donut Form">
  <ion-content class="padding">
   <h3>Think about this carefully.</h3>
   <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Description">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Occassion">
      </label>
    </div>
   <a ui-sref="tab.donuts"><button class="button button-positive">Back to Donuts</button></a>
  </ion-content>
</ion-view>
